#index-body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#register-box {
    padding-top: 30px;
    margin-top: 40px;
    max-width: 600px;
    height: 630px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-form #register-link {
    margin-top: -85px;
}

.invalid {
    border-color: red;
}

.invalid-text {
    color: #b81900 !important;
}

.box-error {
    height: 360px !important;
}

.text-area {
    border: none;
    resize: none;
    border-bottom: 1px solid #ced4da;
    background-color: transparent;
    border-radius: 0;
    margin: 0 0 .5rem 0;
}

.text-area:focus {
    box-shadow: none;
}

.extraSmallRightMargin {
    margin-right: 10px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2 !important;
}

.customBody {
    padding-left: 7.5rem;
    padding-bottom: unset;
}

.customFriendSearchSubtitle {
    margin-top: 0.75rem;
    margin-left: -12.5rem;
}

.customSubTitleMargin {
    margin-top: 1.3rem;
    margin-left: -1.5rem;
}

.post {
    width: 40rem;
    margin: 1rem 0 2rem 0;
}

.comment {
    margin-left: 4%;
    padding-bottom: 1rem;
    padding-top: unset;
}

.commentTimeMargin {
    margin-left: 5rem;
    margin-top: -2.3rem;
    margin-bottom: 1.2rem;
}

.dropdown-divider {
    height: 0.25rem;
}

.iconButton {
    cursor: pointer;
    transition: font-size 0.25s ease-in-out, color 0.25s ease-in-out;
}

.iconButtonClicked {
    cursor: pointer;
    font-size: 2.25rem;
    color: royalblue;
}

.iconButton:hover {
    font-size: 2.25rem;
    color: royalblue;
}

.profileNameAndDateMargin {
    margin-right: 20px;
}

.profileNameMargin {
    margin-bottom: 0.25rem;
}

.postText {
    margin-left: 0.4rem;
}

.uploadImageIconComment {
    margin-top: -6px;
    transition: color 0.25s ease-in-out;
}

.uploadImageIconComment:hover {
    color: royalblue;
}

.preview {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.customIconToggle {
    padding: unset;
    background-color: transparent;
    color: black;
    border: none;
}

.customIconToggle:after {
    content: unset !important;
}

.show > .btn-primary.dropdown-toggle,
.customIconToggle:hover,
.customIconToggle:focus {
    color: black !important;
    background-color: unset !important;
    border-color: unset !important;
    box-shadow: unset !important;
}

.customHamburgerIcon {
    position: absolute;
    margin-left: 36rem;
}

.customLockIcon {
    position: absolute;
    margin-left: 33.5rem;
    margin-top: 0.1rem;
}

.profileCustomImage {
    cursor: pointer;
    padding: 0.25rem;
    border: 1px black solid;
}

.profileCustomCard {
    width: 10%;
    background-color: transparent;
    border: none;
    position: absolute;
    margin-left: 27%;
    margin-top: 6%;
    z-index: 1;
}

.profileCustomTitle {
    position: absolute;
    margin-left: 5rem;
    margin-top: 2rem;
    width: 20rem;
    color: white;
    -webkit-text-stroke: .5px black;
}

.profileCustomContainer {
    background-color: white;
    padding-bottom: 8px;
    margin-top: -30px;
    padding-top: 3rem;
}

.profileCardMargin {
    width: 140%;
    margin-left: 5rem;
    margin-top: 1rem;
}
